<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.snowyowl.automation</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/kristiangarza/aves/labs/snowyowl/run_copilot_automation.sh</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>2</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/kristiangarza/aves/labs/snowyowl/logs/launchd.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/kristiangarza/aves/labs/snowyowl/logs/launchd.error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/kristiangarza/aves/labs/snowyowl</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
    </dict>
</dict>
</plist>
